<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>博客日记</title>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
    <script src="/public/lib/jQuery/jquery-3.3.1.min.js"></script>
    <script src="/public/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.min.css">
    <script src="/public/js/snowy.js"></script>
    <link rel="stylesheet" href="/public/css/see.css">
    <script src="/public/js/see.js"></script>
</head>

<body>
    <div class="snow-container"></div>
    <header class="navbar  nav_h" role="navigation">
        <div class="container_nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index.html">猿人博客</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/index.html">网站首页</a></li>
                    {% if page %}
                    <li class="active"><a href="{{page.url}}">文章阅读</a></li>
                    {% else %}
                    <li class="active"><a href="{{site.posts[0].url}}">文章阅读</a></li>
                    {% endif %}
                    <li><a href="#">设计心得</a></li>
                    <li><a href="#">给我留言</a></li>
                </ul>
            </div>
        </div>
    </header>
    <article>
        <div class="blo_left">
            <div class="browse">
                <div class="browse_1">
                    <span>个人博客</span>
                    <p><i>你现在的位置是：</i><a href="/index.html">首页</a><i>&gt;</i><a href="{{page.url}}">个人博客</a></p>
                </div>
                <span class="bo glyphicon glyphicon-play-circle" title="语音播放"></span>
                <div class="browse_2">
                    <h1>{{page.title}}</h1>
                    <h5><span class="user_img"></span><span>作者：</span><span class="user">{{page.author}}</span></h5>
                </div>

                <div class="browse_4">
                 {{content}}
                </div>
                <div class="browse_3">
                    <i><img src="/public/images/browse1_3.png" alt=""></i>
                    <span class="span1">程序猿</span> <span class="time">{{page.date|date:"%Y-%m-%d"}}</span><span
                        class="title1">[{{page.categories}}]</span>
                </div>
                <div class="browse_5">
                    <ul>
                        {% if page.previous.url %}
                        <li><span>上一篇：</span><a href="{{page.previous.url}}">{{page.previous.title}}</a></li>
                        {% endif %}
                        {% if page.next.url %}
                        <li><span>下一篇：</span><a href="{{page.next.url}}">{{page.next.title}}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="blo_right">
            <div class="lbox">
                <div class="box_1"><p>本站推荐</p></div>
                <div class="box_2">
                    {% assign p= site.posts | sample %}
                    
                    {% for k in site.posts %}
                        
                        {% if k==p %}
                            <a href="{{p.url}}" class="xia">
                                <img src="/public/images/wen{{forloop.index}}.jpg" alt="wen{{forloop.index}}">
                                <p class="p1">{{p.title}}</p>
                            </a>
                            {% break %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="box_3">
                    {% for k in (0..1000) %}
                        {% assign g=site.posts|sample:2 %}
                        {% assign a=false %}
                        {% for v in g %}
                            {% if v==p %}
                                {% assign a=true %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        {% unless a %}
                            {% break %}
                        {% endunless %}
                    {% endfor %}
                   
                    <ul>
                   
                        {% for p in g %}
   
                            <li>
                                <a href="{{p.url}}" class="xia">
                                    <div class="li_img">
                                        <img src="/public/images/wen{{forloop.index}}.jpg" alt="wen{{forloop.index}}">
                                    </div>
                                    <span>{{p.title}}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="lbox_1">
                <div class="bo_1">
                    <img src="/public/images/lbox5_1.jpg" alt="lbox5_1">
                </div>
            </div>
            <div class="lbox_2">
                <div class="box_1"><p>标签云</p></div>
                <div class="bo_2">
                   <span>程序员</span>
                   <span class="oc">旅游</span>
                   <span>幽默</span>
                   <span>爱玩</span>
                   <span >勤奋</span>
                   <span class="oc">梦想</span>
                   <span  class="oc">努力</span>
                   <span>珍惜</span>
                   <span>朋友</span>
                   <span>随缘</span>
                   <span>2020</span>
                   <span class="oc">爱生活</span>
                   <span>风景</span>
                   <span >修行</span >
                   <span class="oc">人生</span>
                </div>
            </div>
        </div>
    </article>
</body>
</html>